.towatchList {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  gap: 1rem;
  padding-top: 1rem;
  padding-block-end: 5rem;
  list-style: none;
  overflow: auto;
}

.towatchList::-webkit-scrollbar {
  width: 0.5em;
}

.towatchList::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.towatchList::-webkit-scrollbar-track {
  background-color: transparent;
}
