.createTowatchButton {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  line-height: normal;
  bottom: 4rem;
  margin-right: 2rem;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  border-radius: 50%;
  border-color: var(--pink);
  color: var(--black);
  background-color: var(--pink);
}

.createTowatchButton:hover {
  cursor: pointer;
  border-color: var(--pink);
  color: var(--black);
  background-color: var(--pink);
  color: var(--pink);
  background-color: var(--black);
  border: 1px solid var(--pink);
}
