.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  padding: 1rem;
  color: var(--pink);
  background-color: var(--white);
  background-color: black;
  border: 1.5px solid var(--pink);
  border-radius: 1rem;

  &__label {
    font-size: 2rem;
  }

  &__textarea {
    width: 14rem;
    padding: 0.1rem;
    border: 2px solid var(--pink);
    border-radius: 0.5rem;
  }

  &__buttonContainer {
    display: flex;
    gap: 2rem;
  }
}

.form__button {
  font-family: var(--fontPrimary);
  font-size: 1.2rem;
  padding: 0.1rem;
  width: 4rem;
  border-radius: 3px;
  cursor: pointer;
  &--cancel {
    color: var(--pink);
    background-color: var(--black);
    border: 1px solid var(--pink);
  }

  &--add {
    color: var(--black);
    background-color: var(--pink);
    border: 1px solid var(--blck);
  }
}
