.towatchSearcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 2.5rem;
  width: 15rem;
  background-image: url(../../assets/icons/search-icon.png);
  background-repeat: no-repeat;
  background-position: 0.4rem center;
  background-size: 1.5rem;
  border: 2px solid var(--pink);
  border-radius: 0.4rem;
  &__icon {
    height: 2rem;
  }
  &__bar {
    width: 11rem;
    height: 2.2rem;
    padding: 0.3rem;
    color: var(--white);
    background-color: var(--black);
    border: none;
  }
}

.towatchSearcher__bar:active,
.towatchSearcher__bar:focus,
.towatchSearcher__bar:hover {
  outline: none;
}
