.towatchSearcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  &__icon {
    height: 2rem;
  }
  &__bar {
    width: 16rem;
    height: 2.5rem;
    padding: 0.3rem;
    border: 2px solid var(--pink);
    border-radius: 0.4rem;
    color: var(--white);
    background-color: var(--black);
  }
}
